/* Reseta margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Garante que o HTML e o body ocupem toda a altura da tela */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/* Flexbox para garantir que o footer fique na parte inferior */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo do container principal */
.container {
    background-color: #b9b5b5;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    text-align: center;
}

/* Estilo do título */
h1 {
    margin-bottom: 20px;
}

/* Lista de fornecedores */
.fornecedores-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Itens da lista */
.fornecedor-item {
    background-color: #000000;
    color: rgb(247, 210, 6);
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fornecedor-item:hover {
    background-color: #383b3f;
}

/* Detalhes do fornecedor */
.detalhes {
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.detalhes.show {
    display: block;
    opacity: 1;
}

.detalhes h2 {
    margin-bottom: 10px;
}

.detalhes p {
    margin-bottom: 20px;
}

.detalhes button {
    background-color: #ee0808;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detalhes button:hover {
    background-color: #aa0303;
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #6c757d;
    border-top: 1px solid #dee2e6;
}
